@import './variables';

@mixin zero-margin-and-padding($m: 0px, $p: 0px) {
    margin: $m;
    padding: $p;
}

#body {
    @include zero-margin-and-padding();
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $platinum;
    font-size: 1.20em;
    
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: $space;

        @media screen and (min-width: $medium) {
            padding-left: 5%;
            padding-right: 5%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            padding-left: 0%;
            padding-right: 0%;
        }

        #main-name {
            @include zero-margin-and-padding(0px, 10px);
            color:$white;
            @media screen and (max-width: $medium) {
                width: 100%;
                text-align: center;
            }
            
            span {
                color: $munsell;
            }
        }
        
        #nav-bar-list {
            @include zero-margin-and-padding();
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: space-around;
            @media screen and (max-width: $medium) {
                width: 100%;
                background-color: $payne;
            }
            
            .nav-bar-item {
                @include zero-margin-and-padding(0px, 25px);
                border: none;
                background: none;
                transition: background-color 500ms;
                text-align: center;
                font-size: 1.0em;
                color: $white;
                @media screen and (max-width: $medium) {
                    padding: 10px 0px;
                    flex-grow: 1;
                    font-size: 0.75em;
                }
                @media screen and (max-width: $small) {
                    font-size: 0.5em;
                }
                
                &:hover {
                    background-color: $munsell;
                    background-image: none;
                }
                
            }
        }
    }
    
    #footer {
        background-color: $space;
        color: $white;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 2.5rem; 
        
        #footer-text {
            margin-top: 8px;
            // margin-left: 5%;
            @media screen and (max-width: $small) {
                font-size: 65%;
            }
        }
    }
    
    #content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        padding-bottom: 2.5rem;

        h1, h2 {
            margin-top: 25px;
            margin-bottom: 5px;
            text-align: center;
            @media screen and (max-width: $small) {
                font-size: 0.75em;
            }
        }
        h3, h4, h5, h6 {
            width: $item-width;
            max-width: $item-max-width;
            text-align: center;
            @media screen and (max-width: $small) {
                font-size: 0.75em;
            }
        }
        p {
            width: $item-width;
            max-width: $item-max-width;
            text-align: left;
            @media screen and (max-width: $small) {
                font-size: 0.75em;
            }
        }
        .subtitle {
            margin-top: 4px;
        }
        .image {
            width: $item-width;
            max-width: $item-max-width;
            height: auto;
            border-radius: 25px;
            margin-top: 5px;
        }

        .card-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            .card {
                margin: 5px;
                outline-style:solid;
                outline-color: black;
                outline-width: 2px;
        
                .card-title {
                    width: 150px;
                }

                .card-image {
                    width: 150px;
                }

                .card-text {
                    width: 150px;
                }
            }
        }
    }
}
