<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/styles.min.css"/>
    <title>CrazyMugg Commands</title>
</head>
<body id="body">
    <div id="content-container">
        <h2>Channel Point Redemptions</h2>
        <ul>
            <li>Dab</li>
            <li>Spotify Song Request (must be in this format: "artist" - "song")</li>
        </ul>

        <h2>VIP-only</h2>
        <ul>
            <li>viptest</li>
        </ul>

        <h2>Subscriber-only</h2>
        <ul>
            <li>subtest</li>
        </ul>

        <h2>Followers-only</h2>
        <ul>
            <li>followertest</li>
        </ul>

        <h2>All-users: Spotify</h2>
        <ul>
            <li>sr</li>
            <li>skip</li>
            <li>previous</li>
            <li>song</li>
            <li>artist</li>
            <li>songlink</li>
            <li>spvolume</li>
        </ul>

        <h2>All-users: TTS</h2>
        <ul>
            <li>say</li>
            <li>ttsvolume</li>
        </ul>

        <h2>All-users: General</h2>
        <ul>
            <li>commands</li>
            <li>lurk</li>
            <li>unlurk</li>
            <li>specs</li>
        </ul>

        <h2>All-users: Geogeussr only</h2>
        <ul>
            <li>cg</li>
            <li>me</li>
            <li>best</li>
            <li>flag</li>
        </ul>
    </div>
</body>
</html>