<h2><u>Where I've Lived</u></h2>
<img class="image" src="{{ url_for('static', filename='images/personal/home.jpg') }}">
<p>Nashville, TN → Dallas, TX → Brussels, Belgium → Nashville, TN</p>
<hr/>

<h2><u>Education</u></h2>
<img class="image" src="{{ url_for('static', filename='images/personal/smu.jpg') }}">
<p>Graduated from Southern Methodist University (SMU) in 2017
    with a B.S. in Civil Engineering and a B.S. in Mechanical Engineering</p>
<hr/>

<h2><u>Hobbies</u></h2>
<img class="image" src="{{ url_for('static', filename='images/personal/kickball.jpg') }}">
<p>Video Games, Playing and watching sports, Working Out, Coffee, and Cooking</p>
<hr/>

<h2><u>Sports</u></h2>
<img class="image" src="{{ url_for('static', filename='images/personal/gb.jpg') }}">
<p>Big fan of: Tennessee Titans, Atlanta Braves, Nashville Predators, SMU Mustangs, Texas Rangers, Liverpool FC, Tennessee Trojans</p>
<hr/>

<h2><u>Travels</u></h2>
<img class="image" src="{{ url_for('static', filename='images/personal/turkey.jpg') }}">
<img class="image" src="{{ url_for('static', filename='images/personal/uk.jpg') }}">
<p>Scandinavia, Australia, 42 US States, Central Europe, and Turkey</p>
<hr/>

<h2><u>Life</u></h2>
<img class="image" src="{{ url_for('static', filename='images/personal/brussels.jpg') }}">
<img class="image" src="{{ url_for('static', filename='images/personal/willa.jpg') }}">
<p>Married my amazing wife and had my first little girl on leap day, Feb 29th 2024!</p>
<hr/>