<h2><u>Home</u></h2>
<h3>Nashville, TN → Dallas, TX → Brussels, BE → Nashville, TN</h3>


<h2><u>Education</u></h2>
<p>Graduated from Southern Methodist University (SMU) in 2017
    with a B.S. in Civil Engineering and a B.S. in Mechanical Engineering</p>
<img class="image" src="{{ url_for('static', filename='images/personal/smu.jpg') }}">


<h2><u>Hobbies</u></h2>
<p>Video Games, Soccer, Kickball, Working Out, Coffee, and Cooking</p>
<img class="image" src="{{ url_for('static', filename='images/personal/kickball.jpg') }}">


<h2><u>Sports</u></h2>
<p>Tennessee Titans, Atlanta Braves, Nashville Predators, Dallas Stars, Texas Rangers, Liverpool FC, Tennessee Trojans</p>
<img class="image" src="{{ url_for('static', filename='images/personal/vandy.jpg') }}">


<h2><u>Travels</u></h2>
<p>Scandinavia, Australia, USA, Central Europe</p>
<img class="image" src="{{ url_for('static', filename='images/personal/turkey.jpg') }}">
<img class="image" src="{{ url_for('static', filename='images/personal/uk.jpg') }}">

<h2><u>Life</u></h2>
<p>Amazing GF :)</p>
<img class="image" src="{{ url_for('static', filename='images/personal/brussels.jpg') }}">
<img class="image" src="{{ url_for('static', filename='images/personal/atl.jpg') }}">