<h1>This is for my programming projects!</h1>

<h2>Personal Site</h2>
<h4>Python: Flask. SASS. Heroku. JQuery/AJAX</h4>
<!-- Placeholder image -->
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat exercitationem, id quo est voluptate dolorum recusandae qui nihil neque aliquam quam quibusdam consectetur veritatis tempora fuga ipsa ad, magni deleniti?</p>


<h2>Opryland Collection</h2>
<h4>Python: Flask. Heroku. PostGRES. SASS</h4>
<!-- Placeholder image -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores est aliquid officiis corporis fugiat libero at, labore quo minus ab?</p>


<h2>Heslinki Karaoke</h2>
<h4>Python: Django. Stripe. MySQL. AWS. Svelte</h4>
<!-- Placeholder image -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reprehenderit. Maiores accusamus sapiente ex iusto magni, explicabo doloribus, minus ut architecto necessitatibus, facilis magnam tempore?</p>


<h2>Project Portal</h2>
<h4>Python: Flask, Bokeh. Bootstrap. MySQL. AWS</h4>
<!-- Placeholder image -->
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi veritatis molestiae reiciendis ducimus architecto culpa expedita sequi iusto excepturi beatae.</p>


<h2>Mugg Twitch Bot</h2>
<h4>Python: Asyncio. SQLite3. C#: UI.NET</h4>
<!-- Placeholder image -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquid commodi beatae dolorum esse maxime?</p>


<h2>MS Suite Scripts</h2>
<h4>Python: Openpyxl, GoogleTrans</h4>
<!-- Placeholder image -->
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, omnis.</p>