<h1>This is for my programming projects!</h1>


<h2><u>Personal Site</u></h2>
<img class="image" src="{{ url_for('static', filename='images/programming/personalsite.png') }}">
<p>Python: Flask. SASS. Heroku. JQuery/AJAX</p>
<hr/>

<h2><u>Opryland Collection</u></h2>
<img class="image" src="{{ url_for('static', filename='images/programming/opryland.png') }}">
<p>Python: Flask. Heroku. PostGreSQL. SASS. Bootstrap</p>
<hr/>

<h2><u>Helsinki Karaoke</u></h2>
<p>C#: Blazor. Stripe. MySQL. AWS.</p>
<hr/>

<h2><u>Project Portal</u></h2>
<p>Python: Flask. Chart-JS. Bootstrap. PostGreSQL</p>
<hr/>

<h2><u>Mugg Twitch Bot</u></h2>
<img class="image" src="{{ url_for('static', filename='images/programming/muggbot.png') }}">
<p>Python: Asyncio, spotipy, obsws. SQLite3.</p>
<hr/>

<h2><u>MS Suite Scripts</u></h2>
<p>Python: Openpyxl, GoogleTrans</p>
<hr/>


{# TODO: Add in list of languages/Tools I use #}