<h1>This is an overview for my programming projects!</h1>
<a href="https://github.com/crazymugg" target=”_blank” > Github Profile</a>

<h2><u>Personal Site</u></h2>
<img class="image" src="{{ url_for('static', filename='images/programming/personalsite.png') }}">
<p>Python: Flask. SASS. GCP. JQuery/AJAX</p>
<hr/>

<h2><u>Cozymugg Software</u></h2>
{# <img class="image" src="{{ url_for('static', filename='images/programming/personalsite.png') }}"> #}
<p>Python: Flask. SASS. GCP. Bootstrap</p>
<hr/>

<h2><u>Maddy's Music Box</u></h2>
{# <img class="image" src="{{ url_for('static', filename='images/programming/personalsite.png') }}"> #}
<p>Python: Django. GCP. Bootstrap</p>
<hr/>

<h2><u>Opryland Collection</u></h2>
<img class="image" src="{{ url_for('static', filename='images/programming/opryland.png') }}">
<p>Python: Flask. GCP. PostGreSQL. SASS. Bootstrap</p>
<hr/>

<h2><u>Alt Football Scoring</u></h2>
{# <img class="image" src="{{ url_for('static', filename='images/programming/personalsite.png') }}"> #}
<p>Python: Flask. GCP. Bootstrap</p>
<hr/>

<h2><u>Godot Baseball Sim</u></h2>
{# <img class="image" src="{{ url_for('static', filename='images/programming/personalsite.png') }}"> #}
<p>Godot</p>
<hr/>

<h2><u>Excel Budget Tracker</u></h2>
{# <img class="image" src="{{ url_for('static', filename='images/programming/personalsite.png') }}"> #}
<p>Excel. VBA</p>
<hr/>

{# <h2><u>Helsinki Karaoke</u></h2>
<p>C#: Blazor. Stripe. MySQL. AWS.</p>
<hr/> #}

<h2><u>Project Portal</u></h2>
<p>Python: Flask. Chart-JS. Bootstrap. PostGreSQL</p>
<hr/>

<h2><u>Mugg Twitch Bot</u></h2>
<img class="image" src="{{ url_for('static', filename='images/programming/muggbot.png') }}">
<p>Python: Asyncio, spotipy, obsws. SQLite3.</p>
<hr/>

<h2><u>MS Suite Scripts</u></h2>
<p>Python: Openpyxl, GoogleTrans</p>
<hr/>


{# TODO: Add in list of languages/Tools I use #}