<h2><u>Education</u></h2>
<img class="image" src="{{ url_for('static', filename='images/personal/smu.jpg') }}">
<p>Graduated from Southern Methodist University (SMU) in 2017
    with a B.S. in Civil Engineering and a B.S. in Mechanical Engineering</p>

<hr/>

<h2><u>Education</u></h2>
<img class="image" src="{{ url_for('static', filename='images/personal/smu.jpg') }}">
<p>Graduated from Southern Methodist University (SMU) in 2017
    with a B.S. in Civil Engineering and a B.S. in Mechanical Engineering</p>

<hr/>