<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/three.css"/>
    <title>Hardie's Site</title>
  </head>
  <body>
    <div id="overlay">
      <a href="{{ url_for('old') }}">Old Site</a>
    </div>
    
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
  <script src="../static/scripts/jsthree.js"></script>
</html>