<h1>Work History</h1>
<p>This page is a summary of the professional work projects I have either directly lead or contributed to. 
<br>For a formal resume, please download a PDF <a href="{{ url_for('view_resume') }}" target="_blank">here</a> or view in the browser <a href="{{ url_for('send_resume') }}">here</a>.</p>




<h2><u>Toyota Motor North America</u></h2>
<h3><i>Senior Project Engineer</i></h3>
<p>Toyota Battery Manufacturing North Carolina (TBMNC)
<br> Project management work:</p>
<ul>
  <li>2024 Fire House Station</li>
  {# <img class="image" src="{{ url_for('static', filename='images/personal/smu.jpg') }}"> #}
  <li>2024 Sub-Production Building</li>
  {# <img class="image" src="{{ url_for('static', filename='images/personal/smu.jpg') }}"> #}
</ul>
<hr/>


<h2><u>Toyota Motor Europe</u></h2>
<h3><i>Civil Engineer Specialist</i></h3>
<p>Toyota Motor Manufacturing Czech Republic (TMMCZ)
<br>Project management work:</p>
<ul>
  <li>2021 Assembly-logistics building extension</li>
  <li>2021 Press and Weld building extension</li>
  <li>2022 +3,000 spots CBU Yard</li>
  <li>2022 +40 spots Truck Yard</li>
  <li>2023 +5,700 spots CBU Yard</li>
  <li>2023 Post-Production Modification building</li>
</ul>
{# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/TME1.jpg') }}"> #}

<p>Other works:</p>
<ul>
  <li>2021 Project Completion Reports</li>
  <li>2022 Civil Kanban Documentation</li>
  <li>2022 EMC as-built management system</li>
  <li>2023 Project Cost Database</li>
</ul>

{# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/TME1.jpg') }}"> #}
{# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/TME2.jpg') }}"> #}
{# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/TME3.jpg') }}"> #}
<hr/>


<h2><u>Stantec Inc</u></h2>
<h3><i>Structural Engineer</i></h3>
<p>Structural design work:</p>
<ul>
  <li>2019 Fort Sam Houston Elementary Gym</li>
  <li>2020 Plano Sports Authority</li>
  <li>2019 Frisco High Shool #16</li>
  <li>... and more</li>
</ul>
  {# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/Stantec1.jpg') }}"> #}
  {# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/Stantec2.jpg') }}"> #}
  {# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/Stantec3.jpg') }}"> #}
<hr/>


<h2><u>RLG, Inc.</u></h2>
<h3><i>Project Structural Engineer</i></h3>
<h3><i>Strucutral Engineer Intern</i></h3>
<p>Structural design work:</p>
<ul>
  <li>2019 St. Michaels Church</li>
  <li>2017 Highland Park High SChool Renovations</li>
  <li>2018 St. Andrews Church</li>
  <li>... and more</li>
</ul>
  {# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/RLG1.jpg') }}"> #}
  {# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/RLG2.jpg') }}"> #}
  {# <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/RLG3.jpg') }}"> #}
<hr/>


<h2><u>NTTA</u></h2>
<h3><i>Civil Engineer Intern</i></h3>
<ul>
  <li>2016 Sam Rayburn Tollway Expansion</li>
  <li>2016 Frisco DNT widening</li>
</ul>
<hr/>


<h2><u>Conseco Group</u></h2>
<h3><i>Engineering Intern</i></h3>
<ul>
  <li>2015 Chick-fil-a remodels</li>
</ul>
<hr/>