<h1>Work History</h1>
<p>This page is a summary of the professional work projects I have either directly lead or contributed to. 
<br>For a formal resume, please download a PDF <a href="{{ url_for('send_resume') }}">here</a> or view in the browser <a href="{{ url_for('view_resume') }}" target="_blank">here</a>.</p>


<h2><u>Toyota Motor North America</u></h2>
<h3><i>Senior Project Engineer</i> (2023-Present)</h3>
<p>Toyota Battery Manufacturing North Carolina (TBMNC)
<br> Project management work:</p>
<ul>
  <li>2024 Parts Storage Building</li>
  <li>2024 Fire House Station</li>
  <li>2024 Sub-Production Building</li>
  <li>2024 Emergency Responders Radio Communications System</li>
</ul>

<p>Other works:</p>
<ul>
  <li>2024 New Hire System</li>
</ul>
<hr/>


<h2><u>Toyota Motor Europe</u></h2>
<h3><i>Civil Engineer Specialist</i> (2020-2023)</h3>
<p>Toyota Motor Manufacturing Czech Republic (TMMCZ)
<br>Project management work:</p>
<ul>
  <li>2023 Post-Production Modification building</li>
  <li>2023 +5,700 spots CBU Yard</li>
  <li>2022 +40 spots Truck Yard</li>
  <li>2022 +3,000 spots CBU Yard</li>
  <li>2021 Assembly-logistics building extension</li>
  <li>2021 Press and Weld building extension</li>
</ul>

<p>Other works:</p>
<ul>
  <li>2023 Project Cost Database</li>
  <li>2022 EMC as-built management system</li>
  <li>2022 Civil Kanban Documentation</li>
  <li>2021 Project Completion Reports</li>
</ul>
<hr/>


<h2><u>Stantec Inc</u></h2>
<h3><i>Structural Engineer</i> (2019-2020)</h3>
<ul>
  <li>Del Valley Middle School (2020)</li>
  <li>Plano Sports Authority 2 (2020)</li>
  <li>Frisco High School #16 (2020)</li>
  <li>Frisco Hish School #15 (2019)</li>
</ul>
<hr/>

{# <p class="subtitle">Del Valley Middle School (2020)</p>
<img class="image" src="{{ url_for('static', filename='images/work/Stantec2.jpg') }}">
<p class="subtitle">Plano Sports Authority 2 (2020)</p>
<img class="image" src="{{ url_for('static', filename='images/work/Stantec3.jpg') }}">
<p class="subtitle">2020 Frisco High Shool #16</p>
<img class="image" src="{{ url_for('static', filename='images/work/Stantec1.jpg') }}">
<p class="subtitle">2019 Fort Sam Houston Elementary Gym</p>
<p>2019 Frisco High Shool #15</p>
<p>... and more</p> #}


<h2><u>RLG, Inc.</u></h2>
<h3><i>Project Structural Engineer</i> (2017-2019)</h3>
<ul>
  <li>St. Michaels Church (2019)</li>
  <li>St. Andrews Church (2018)</li>
  <li>... and more</li>
</ul>
<h3><i>Strucutral Engineer Intern</i> (2016-2017)</h3>
<ul>
  <li>Highland Park High SChool Renovations (2017)</li>
  <li>... and more</li>
</ul>
<hr>


<h2><u>NTTA</u></h2>
<h3><i>Civil Engineer Intern</i> (2016)</h3>
<ul>
  <li>Sam Rayburn Tollway Expansion (2016)</li>
  <li>Frisco DNT widening (2016)</li>
</ul>
<hr/>


<h2><u>Conseco Group</u></h2>
<h3><i>Engineering Intern</i> (2015)</h3>
<ul>
  <li>Chick-fil-a remodels (2015)</li>
</ul>
<hr/>