<h2><u>Toyota Motor Europe</u></h2>
<h4><i>Civil Engineer Specialist</i></h4>
<p><u>TMMCZ project management work:</u></p>
<ul>
  <li>2021 Assembly-logistics building extension</li>
  <li>2021 Press and Weld building extension</li>
  <li>2022 +3,000 spots CBU Yard</li>
  <li>2022 +40 spots Truck Yard</li>
  <li>2023 +5,700 spots CBU Yard</li>
  <li>2023 Post Production Modification building</li>
</ul>

<p>TME 1 works</p>
<img class="image-wrap-image" src="{{ url_for('static', filename='images/work/TME1.jpg') }}">

<p><u>Other works:</u></p>
<ul>
  <li>2021 Project Completion Reports</li>
  <li>2022 Civil Kanban Documentation</li>
  <li>2022 EMC as-built management system</li>
  <li>2023 Project Cost Database</li>
</ul>

<div class="image-wrap">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/TME1.jpg') }}">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/TME2.jpg') }}">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/TME3.jpg') }}">
</div>


<h2><u>Stantec Inc</u></h2>
<h4><i>Structural Engineer</i></h4>
<p><u>Structural design work:</u></p>
<ul>
  <li>2019 Fort Sam Houston Elementary Gym</li>
  <li>2020 Plano Sports Authority</li>
  <li>2019 Frisco High Shool #16</li>
  <li>... and more</li>
</ul>
<div class="image-wrap">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/Stantec1.jpg') }}">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/Stantec2.jpg') }}">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/Stantec3.jpg') }}">
</div>


<h2><u>RLG, Inc.</u></h2>
<h4><i>Project Structural Engineer</i></h4>
<h4><i>Strucutral Engineer Intern</i></h4>
<p><u>Structural design work:</u></p>
<ul>
  <li>2019 St. Michaels Church</li>
  <li>2017 Highland Park High SChool Renovations</li>
  <li>2018 St. Andrews Church</li>
  <li>... and more</li>
</ul>
<div class="image-wrap">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/RLG1.jpg') }}">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/RLG2.jpg') }}">
  <img class="image-wrap-image" src="{{ url_for('static', filename='images/work/RLG3.jpg') }}">
</div>


<h2><u>NTTA</u></h2>
<h4>Civil Engineer Intern</h4>
<ul>
  <li>2015 Sam Rayburn Tollway Expansion</li>
  <li>2015 Frisco DNT widening</li>
</ul>
