@media screen and (max-width: 1070px) {    
    #header {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        
        #main-name {
            width: 100%;
            text-align: center;
        }
        
        #nav-bar-list {
            width: 100%;
            background-color: $payne;
            
            .nav-bar-item{
                padding-inline-start: 0%;
                padding: 10px 0px;
                flex-grow: 1;
            }
        }
    }

    
    
    
}

// #top-bar-container {
//     // @include zero-margin-and-padding();
//     width: 100%;
//     border-color: $black;
//     border-width: 2px;
// }