@import './variables';
@import './content';
@import './medium_screen';
@import './mobile_screen';


@mixin zero-margin-and-padding($m: 0px, $p: 0px) {
    margin: $m;
    padding: $p;
}

#body {
    @include zero-margin-and-padding();
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $platinum;
    // min-height: 100%;
    // padding-bottom: 2.5rem;

    #header {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: $space;

        #main-name {
            @include zero-margin-and-padding(0px, 10px);
            color:$white;


            span {
                color: $munsell;
            }
        }

        #nav-bar-list {
            @include zero-margin-and-padding();
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: space-around;

            .nav-bar-item {
                @include zero-margin-and-padding(0px, 25px);
                border: none;
                background: none;
                transition: background-color 500ms;
                color: $white;

                &:hover {
                    background-color: $munsell;
                    background-image: none;
                }

            }
        }
    }

    #content-container {
        color: black;
        padding-bottom: 2.5rem;
    }

    #footer {
        background-color: $space;
        color: $white;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem; 

        #footer-text {
            margin-top: 8px;
            margin-left: 5%;
        }
    }
}