@import './variables';
@import './content';

@mixin zero_padding_margin {
    margin: 0;
    padding: 0;
}


#header {
    @include zero_padding_margin();
    background-color: $space;
    width: 100%;
    color: $white;

    span {
        color: $munsell;
    }
}

#top-bar-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#top-bar-name {
    @include zero_padding_margin();
}

#main-name {
    padding: 10px;
    margin: 0;
}


#nav-bar-list {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;

}

.nav-bar-item {
    padding: 25px;
    margin: 0px;
    border: none;
    background: none;
    transition: background-color 500ms;
    color: $white;

    &:hover{
        background-color: $munsell;
        background-image: none;
    }
}

#body {
    @include zero_padding_margin();
    background-color: $platinum;
}

.card-image {
    width: 50%;
}

.test {
    color: $blue;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 5%;
    color: $white;
    background-color: $space;
}


@media screen and (max-width: 1070px) {
    ul {
        padding-inline-start: 0%;
    }

    #top-bar-container {
        @include zero_padding_margin();
        border-color: $black;
        border-width: 2px;
    }

    #main-name {
        width: 100%;
        text-align: center;
    }
    
    #nav-bar-list {
        width: 100%;
        background-color: $payne;
    }

    .nav-bar-item{
        padding: 10px 0px;
        flex-grow: 1;
    }
}


@media screen and (max-width: 400px) {    
    .nav-bar-item {
        font-size: 50%;
    }

    #footer {
        font-size: 50%;
    }
}