@import './variables';
@import './content';
@import './medium_screen';
@import './mobile_screen';


@mixin zero-margin-and-padding($m: 0px, $p: 0px) {
    margin: $m;
    padding: $p;
}

#body {
    @include zero-margin-and-padding();
    display: flex;
    flex-direction: column;
    background-color: $platinum;
    width: 100%;
    min-height: 100%;

    #header {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: $space;

        #main-name {
            @include zero-margin-and-padding(0px, 10px);
            color:$white;


            span {
                color: $munsell;
            }
        }

        #nav-bar-list {
            @include zero-margin-and-padding();

            .nav-bar-item {
                color: black;

            }
        }
    }

    #content-container {
        color: black;
    }

    #footer {
        color: black;
    }
}