<h1>Resume!</h1>

<h2>Toyota Motor Europe</h2>
<h4>Civil Engineer Specialist</h4>
<!-- Placeholder image -->
<p>Video Games, Soccer, Kickball, Working Out, Coffee, Beer, Cooking</p>


<h2>Stantec Inc</h2>
<h4>Structural Engineer</h4>
<!-- Placeholder image -->
<p>Video Games, Soccer, Kickball, Working Out, Coffee, Beer, Cooking</p>


<h2>RLG, Inc.</h2>
<h4>Project Structural Engineer</h4>
<h4>Strucutral Engineer Intern</h4>
<!-- Placeholder image -->
<p>Video Games, Soccer, Kickball, Working Out, Coffee, Beer, Cooking</p>


<h2>NTTA</h2>
<h4>Civil Engineer Intern</h4>
<!-- Placeholder image -->
<p>Video Games, Soccer, Kickball, Working Out, Coffee, Beer, Cooking</p>


<h2>Lea Park and Play</h2>
<h4>Construction Laborer</h4>
<!-- Placeholder image -->
<p>Video Games, Soccer, Kickball, Working Out, Coffee, Beer, Cooking</p>


<h2>Corseca</h2>
<h4>Engineer Intern</h4>
<!-- Placeholder image -->
<p>Video Games, Soccer, Kickball, Working Out, Coffee, Beer, Cooking</p>